body {
	background-color: blue;
}

@media (max-width: 1080px) {
	body {
	background-color: red;
	}
}

@media (max-width: 550px) {
	body {
	background-color: green;
	}
}

@media (max-width: 400px) {
	body {
	background-color: yellow;
	}
}
